.fl {
    /* float: left; */
    margin: 2px;
    width: 100%;
}

.icon .thumb_img {
    width: 100%;
    height: 300px;
    object-fit: cover;    
}

.formsearch {
    /* position: relative; */
}
  
.formsearch-input {
    box-sizing: border-box;
    height: 30px;
    padding: 0 10px 0 8px;
    margin: 5px 5px 5px 0;
    font-size: 1em;
    color: #333;
    border: solid 1px #ccc;
    border-radius: 5px;
    outline: 0;
    transition: 0.3s;
    /* -webkit-appearance: none; */
}

.formsearch-input:focus {
    border: 1px solid #00b5ad;
}

.formsearch-button {
    top: 0;
    left: 2px;
    box-sizing: content-box;
    width: 30px;
    height: 30px;
    padding: 0;
    background: inherit;
    border: solid 1px #ccc;
    opacity: 0.54;
}

@media (max-width:375px) {
    .search_btns {
        display: flex;
        margin: 10px auto 10px auto;
        width: 320px;
    }
}

@media (min-width:375px) {
    .search_btns {
        display: flex;
        margin: 10px auto 10px auto;
        width: 375px;
    }
}

.search_list {
    /* width: 60%; */
}

@media (min-width:768px) {
    .search_str {
        display: flex;
        margin-right: 20px;
    }
}

.search_str {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* width: 58%; */
}


@media (max-width:375px) {
    .release_str {
        margin: auto;
        font-weight: bold;
        font-size: 0.8rem;
    }
}

@media (min-width:375px) {
    .release_str {
        margin: auto;
        font-weight: bold;
        font-size: 1.1rem;
    }
}

.bell_img {
    width: 20px;
    margin: 0 0 4px 0;
}

.p-btn {
    color: rgb(1, 89, 253);
    background-color: transparent;
    border-color: rgb(13, 65, 235);
    border-radius: 3px;
    width: 55px;
    display: inline-block;
    margin: 0 1px 0 0px;
    padding: 10px 0px 10px 0;
    text-align: center;
    font-weight: bold;
}

.hidden_box {
    margin: 2em 0;
    padding: 0;
    display: inline;
}

@media (min-width:768px) {
    .event_banner {
        position: relative;
        width: 100%;
        /* background-color: #333; */
    }
    .event_banner::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #333;
        mix-blend-mode: multiply;
    }
}

.article_mainimage {
    position: relative;
    text-align: center;
    width: 100%;
}

/* .article_mainimage:before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #333;
} */

@media (max-width:768px) {
    .article_mainimage .mainimage {
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center; 
        width: 100%;
    }
}

@media (min-width:768px) {
    .article_mainimage .mainimage {
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center; 
        height: 500px;;
    }
}

.article_content {
    margin: 20px 0 0 0 ;
}

.article_content .title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 1.0rem;
    line-height: 2.3rem;    
}

.days {
    /* border: 2px solid black; */
    /* outline: #4CAF50 solid 2px; */
    display: flex;
    margin: auto;  
    font-size: 0.8rem;
  }

  .awe_calendar {
      margin: 0 10px 0 0 
  }

  .genre img {
      width: 100%;
      height: 100px;
      object-fit: cover;
  }

  .genre div {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

  .genre h3 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size: 17px;
    width: 100%;
    text-align: center;
}

.header_image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: relative;
}
.banner {
    position: relative;
}
/* .content_header h4 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
} */
.header_h3 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0 auto;
    padding:0;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

@media (max-width:768px) {
    .content_header .header_p {
        position: absolute;
        color: white;
        top: 50%;
        left: 8%;
        /* -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%); */
        margin:0;
        padding:0;
        width: 300px;
        /* text-align: center; */
        font-size: 20px;
        font-weight: bold;
    }
}
@media (min-width:768px) {
    .content_header .header_p {
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
        width: 300px;
        /* text-align: center; */
        font-size: 20px;
        font-weight: bold;
    }
}

.header_p_center {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    width: 100%;
    /* text-align: center; */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.header_genre_p {
    position: absolute;
    color: white;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.top_banner {
    position: relative;
}

@media (max-width:768px) {
    .search_div {
        display: flex;
        position: absolute;
        top: 70%;
        left: 8%;
        /* -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%); */
        /* margin:0;
        padding:0;
        font-size: 4em; */
    }
}

@media (min-width:768px) {
    .search_div {
        display: flex;
        position: absolute;
        top: 70%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        /* margin:0;
        padding:0;
        font-size: 4em; */
    }
}

.search_div button {
    color: white;
    background-color: #333;
    width: 60px;
    font-size: 1.1em;
    height: 35px;
    margin: auto 0;
}
.search_div .p {
    position: absolute;
    top: 70%;
    left: 50%;
}

.edit_label {
    width: 120px;
}

.label_input {
    display: flex;
    margin: 0 0 2px 0;
}

.input_area {
    width:100%;
}
.input_area input{
    border: 1px solid;
    border-color: #02908e;
    width: 100%;
}

.validation {
    color: tomato;
}

.textarea {
    width: 100%;
    height: 200px;
    border-color: #adb5bd;
    }

.open_label {
    margin: 0px 20px 0px 0px;
}

.btn_row {
    display: flex;
}

.require::after {
    color:red;
    content:'*';
}

.my_card {
    margin: 10px 0;
    /* height:300px; */
}

.my_card_body {
    padding: 0.5rem;
}

.event_title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.4;    
}

/* a {
    color: #424242;
} */

.link_color {
    color: #424242;
}

h1.title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 15px;    
}

.select_genre {
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
}

.datepic_input {
    border: 1px solid;
    border-color: #02908e;
}

.genre_icon {
    position: absolute;
    width: auto;
    height: 30px;
    top: 6px;
    left: 6px;
    color: white;
    background-color: tomato;
    /* font-weight: bold; */
    /* line-height: 30px; */
    text-align: center;
    border-radius: 20px;
    padding: 5px 8px;
    /* display: inline-block;
    width: 80px;
    height: 80px;
    font-weight: bold;
    line-height: 80px;
    color: white;
    text-align: center;
    background-color: #ff0211;
    border-radius: 50%; */
}

.genre_tag {
    display: block;
    float: left;
    width: auto;
    height: 30px;
    top: 15px;
    left: 15px;
    color: white;
    background-color: #2e96f7;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    padding: 2px 8px;
    margin: 0px 15px 10px 0 ;
}

.genres_div {
    margin: 10px 0 20px 0;
}

.genre_icon2 {
    width: 100px;
    height: 30px;
    color: white;
    background-color: tomato;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    margin: 5px 5px;
    padding: 5px 3px;
    display: block;
    float: left;
}

.input_area label {
    display: block;
    float: left;
    width: 170px;}

.input_checkbox {
    width: 20% !important;
}

.gnere_disp_name {
    clear: left;
    margin: 10px 0 10px 0;
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(transparent 70%, #a8eaff 50%);
}

.st_end_picker {
    display: flex;
}

.icon_com {
    width: 40px;
    height: 40px;
}

.company_block {
    display: flex;
    margin: 10px 2px 10px 2px;
}

.company_title {
    margin: 4px 2px 2px 4px;
}

.company_block2 {
    margin: 30px 2px 30px 4px;
    padding: 20px 0 0 0 ;
    border-top: 1px solid black;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.ope_service {
    font-size: 13.5px;
}

.table_guide {
    width: 100%;
}

.table_guide th,
.table_guide td {
    border: 1px solid #ccc;
    /* padding: 20px; */
}

.table_guide th {
    font-weight: bold;
    background-color: #dedede; 
}

/* @media screen and (max-width: 767px) {
    .table_guide,
    .table_guide tr,
    .table_guide td,
    .table_guide th {display:block;}
    .table_guide th {width:auto;}
} */

.buttonImage {
    background-color: transparent;
    border: 0px;
}

.buttonImage img {
    width: 17px;
}

.top_logo {
    width: 170px;
}

@media (min-width:768px) {
    .top_logo {
        width: 200px;
    }
}

.div_flex {
    display: flex;
}

.event_str {
    margin-top: 5px;
}

.my_py_4 {
    padding-top: 0.8rem !important;
}

.up_container {
    background-color: #e9ecef;

}
.my_container {
    height: 28px;
    /* margin-top: -5px; */
    background-color: #e9ecef !important;
    flex-wrap: nowrap;
}

@media (max-width:768px) {
    .breadcrumb {
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        /* padding: 0.75rem 1rem; */
        padding: 0.3rem 0;
        margin: 5px 0 0 0;
        list-style: none;
        /* background-color: #e9ecef; */
        border-radius: 0.25rem;
    }    
}

@media (min-width:768px) {
    .breadcrumb {
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        padding: 0.3rem 0;
        margin: 0px 0 0 0;
        list-style: none;
        /* background-color: #e9ecef; */
        border-radius: 0.25rem;
    }
}

.breadcrumb-item + .breadcrumb-item {
padding-left: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
display: inline-block;
padding-right: 0.5rem;
color: #6c757d;
content: " ï¼ž ";
}

.breadcrumb-item + .breadcrumb-item:hover::before {
text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
text-decoration: none;
}

.breadcrumb-item.active {
color: #6c757d;
}
  
.date_str {
    font-size: 1.0rem;
    font-weight: bold;
    color: #01115a;
}

.date_div {
    /* border: solid 1px #00b5ad; */
}

.samarry_date_str {
    margin-bottom: 20px;
}

.date_border{
    height: 3px;
    width: 100%;
    margin: 0 0%;
    /* background: repeating-linear-gradient(-45deg, skyblue, skyblue 2px, white 2px, white 4px); */
    /* background: linear-gradient(transparent 10%, #72c7f8 80%); */
    border-bottom: dotted 1px #adadad;
}

.footer {
    background-color: #333;
    color: #ccc;
}

.footer .copywrite {
    text-align: center;
    padding: 10px 0px 5px 0;
    font-size: 13px;
}
.footer .copywrite a{
    color: white;
}


.footer_str {
    margin: 5px 0px 0 -8px;
}

.footer_link {
    display: flex;
    margin: 0 0px 0 0;
}

.footer_before {
    background-color: #e2e7ee;
    width: 95%;
    height: 50px;
    text-align: center;
    margin: 10px auto 10px auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_btns {
    font-size: 13px;
    display: flex;
    margin: 0 auto;
}

